body{
  background-color: grey;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.daily{
  padding: 30px;
}
.daily h3{
  margin-bottom: 30px;
  color: blue;
  width: 100%;
  text-align: center;
}
.daily p{
  color: chartreuse;
  width: 100%;
  text-align: center;
}
.activity{
  color: gold;
  width: 100%;
}
.form-control{
  margin-right: 30px;
  margin-bottom: 20px;
}
.detail{
  margin-left: 20px;
}

/*Effect Transition AddTodo*/
.animasi-enter{
  opacity: 0.01;
}
.animasi-enter.animasi-enter-active{
  opacity: 1;
  transition: opacity 500ms ease-in;
}
/*Effect Transition RemoveTodo*/
.animasi-leave{
  opacity: 1;
}
.animasi-leave.animasi-leave-active{
  transform: translateX(-100%);
  transition: all 500ms ease-in;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
